@media(max-width:1200px) {
    nav .hessa-btn-blue {
        display: none;
    }
    .product-gallery table {
        max-width: auto;
        width: auto;
    }
}

@media(max-width:991px) {
    .product-gallery .box h1 {
        max-width: 100%;
    }
    nav .form-inline {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .home-boxes {
        width: 100%;
    }
    .home-header .img-head {
        margin-top: -50px;
    }
    .home-boxes .box .title {
        text-align: center;
    }
    .home-boxes .box p {
        margin-bottom: 10px;
        color: black;
        font-size: 20px;
        max-width: 100%;
        text-align: center;
    }
}

@media(min-width:1700px) {
    .product-gallery .box h1 {
        font-size: 22px;
        margin-top: 0;
        max-width: 450px;
    }
}

@media(max-width:767px) {
    footer .col-md-5 ul {
        text-align: center;
    }
    body.home {
        background: url(../images/bg2.png) no-repeat center center;
        background-size: cover;
        padding-top: 100px;
    }
    #videoModal .modal-content {
        align-items: center;
        justify-content: center;
    }
    #videoModal .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
    }
    #videoModal .modal-sidebar,
    #videoModal .pagination {
        display: none;
    }
    .appartment.buy {
        padding: 0 10px;
    }
    .product-gallery table {
        font-size: 14px;
    }
    .user-info .tabs {
        margin-top: 30px;
    }
    .user-info .tabs ul li a {
        padding: 7px 15px;
    }
    .home-header h2,
    .invest h3,
    .home-chart h3 {
        font-size: 30px;
    }
    .home-header .img-head {
        margin-top: 0;
    }
    .home-chart .hessa-btn-blue {
        margin-top: 20px;
        display: block;
    }
    footer {
        text-align: center;
    }
    footer ul {
        text-align: center;
    }
    footer ul li {
        padding-bottom: 15px;
    }
    .login .left-content {
        text-align: center;
    }
    .login .left-content h3 {
        margin-top: 20px;
    }
    .login .left-content p {
        text-align: center;
        margin: 20px auto;
    }
    .login .left-content ul {
        margin-bottom: 30px;
    }
    .verfication input {
        line-height: 50px;
        font-size: 30px;
        width: 50px;
    }
    .login .login-form {
        padding: 40px 20px;
    }
    .register {
        padding-top: 60px;
    }
}