body,
html {
    font-family: "Poppins", sans-serif;
}

body {
    background: #f7faff;
    overflow-x: hidden;
    padding-top: 60px;
}

.text-right {
    text-align: right;
}

body.login-page {
    background: rgb(76, 211, 154);
    background: linear-gradient(180deg, rgba(76, 211, 154, 1) 33%, rgba(226, 247, 238, 1) 85%);
    padding-top: 150px;
}

body.home {
    background: url(../images/bg2.png) no-repeat left top;
    background-size: contain;
    padding-top: 150px;
}

body.academy-page {
    background: url(../images/bg2.png) no-repeat left top;
    background-size: contain;
    padding-top: 150px;
}

body.unit-view {
    padding-top: 120px;
}

.main-content {
    min-height: 82vh;
}

.container {
    max-width: 1700px;
}

nav {
    width: 100%;
    z-index: 99;
    top: 0;
    background: #DCF6EB;
}

nav .nav-item.active .nav-link {
    background: #E2F7EE;
    border-radius: 20px;
}

nav .nav-link img {
    width: 20px;
    margin-right: 8px;
}

nav .nav-link {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

nav form {
    position: relative;
}

nav .btn {
    border-radius: 50px;
}

nav form input {
    position: relative;
    background: #EFF1F3 !important;
}

nav form i {
    color: black;
}

nav form input.form-control {
    border-radius: 30px !important;
}

nav form button {
    position: absolute;
    right: 15px;
    top: 6px;
    z-index: 1;
    background-color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    line-height: 30px !important;
    text-align: center !important;
    padding: 0 !important;
}

.home-header {
    background: url(../images/bg.png) no-repeat center top;
    background-size: contain;
    text-align: center;
    padding: 90px 0 0;
}

.home-header .container {
    z-index: 9;
    position: relative;
}

.home-header h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.home-header p {
    font-size: 18px;
}

.hessa-btn {
    background: #42CE8F;
    color: white !important;
    border-radius: 50px;
    padding: 10px 40px;
    font-size: 15px;
    text-decoration: none !important;
}

.hessa-btn-blue {
    background: #58ACEC;
    color: white !important;
    border-radius: 50px;
    padding: 10px 40px;
    font-size: 15px;
    text-decoration: none !important;
}

.home-header .img-head {
    margin-top: -8vw;
    z-index: -1;
    position: relative;
}

.invest {
    padding: 0 0 30px;
    background: rgb(187, 221, 248);
    background: radial-gradient(circle, rgba(187, 221, 248, 1) 5%, rgba(247, 250, 255, 1) 35%);
}

.invest h3 {
    padding-top: 0px;
    padding-bottom: 50px;
    max-width: 800px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 40px;
}

.invest p {
    font-size: 18px;
    max-width: 300px;
    margin: auto;
    min-height: 100px;
}

.invest .content {
    background: white;
    border-radius: 30px;
    box-shadow: 0 0 7px 1px #EEE;
    margin-bottom: 20px;
}

.invest .content .bg {
    border-radius: 30px;
    background: linear-gradient(180deg, #E2F7EE 0%, rgba(226, 247, 238, 0) 100%);
    padding: 40px 40px 20px;
    border-radius: 60px !important;
    box-shadow: 0 0 0px 30px #FFF inset;
}

.invest .content img {
    display: block;
    margin: 10px auto;
    width: auto;
}

.home-chart {
    padding: 40px 0;
}

.home-chart h3 {
    padding-top: 0px;
    padding-bottom: 30px;
    max-width: 800px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 40px;
}

.home-chart p {
    font-size: 18px;
    max-width: 600px;
    margin: auto;
    min-height: 100px;
}

.panel {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    position: relative;
    box-sizing: border-box;
}

.panel.top-section {
    height: 100vh;
}

.panel.pos-ab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.panel-pin {
    width: 1400 !important;
    max-width: 1400px !important;
    height: 100vh;
    margin: 40px auto 20px;
}

.panel .home-boxes .box img {
    width: auto !important;
}

.panel .home-boxes .box .title {
    color: black !important;
    background-color: #000;
    background-image: linear-gradient(65deg, #000, #000);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    font-weight: 600;
    max-width: 538px;
    line-height: 1.3;
}

.mob-block {
    display: none;
}

.mob-block .icon {
    width: auto !important;
    margin: 0 auto 10px;
    display: block;
}

.mob-block .box {
    margin-bottom: 0 !important;
}

@media (max-width: 991px) {
    .about-boxes .main-title {
        font-size: 50px;
    }
    .about-boxes h2 {
        font-size: 30px;
    }
    .mob-block {
        display: block;
    }
    .panel-pin {
        display: none;
    }
    .panel.pos-ab {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 767px) {
    .about-boxes .main-title {
        font-size: 35px;
        text-align: center;
        margin-bottom: 10px;
    }
    .about-boxes h2 {
        font-size: 25px;
        text-align: center;
        margin-bottom: 0;
    }
    .about-boxes p {
        text-align: center;
    }
}


/* home-boxes */

.home-boxes {
    padding: 10px 0 30px;
    width: 95%;
}

.home-boxes .box {
    background: white;
    box-shadow: 0 0 3px 0 #DDD;
    padding: 30px;
    margin-bottom: 30px;
}

.home-boxes .box.text-center {
    padding: 50px 30px 0;
}

.home-boxes .box img {
    display: block;
    width: 100%;
}

.home-boxes .box .sub-title {
    color: #6C0D88;
    font-size: 20px;
    font-weight: 600;
}

.home-boxes .box .title {
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1;
    margin-top: 10px;
}

.home-boxes .box p {
    margin-bottom: 20px;
    color: black;
    font-size: 27px;
    max-width: 370px;
}

.home-boxes .box .btn {
    margin-bottom: 20px;
}


/* home-boxes */


/* motion */

@keyframes gradient-animation {
    0% {
        background-position: 15% 0%;
    }
    50% {
        background-position: 85% 100%;
    }
    100% {
        background-position: 15% 0%;
    }
}

@keyframes frame-enter {
    0% {
        clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
    }
    25% {
        clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 100% 100%, 100% 0%, 0% 0%);
    }
    50% {
        clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, 100% 0%, 0% 0%);
    }
    75% {
        -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 0%, 0% 0%);
    }
    100% {
        -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 0% 100%);
    }
}

.pin-spacer .panel:first-of-type .box {
    background: rgb(151, 228, 193);
    background: linear-gradient(90deg, rgba(151, 228, 193, 1) 8%, rgba(226, 247, 238, 1) 85%);
    box-shadow: none !important;
}

.pin-spacer .panel:nth-of-type(2) .box {
    background: rgb(171, 212, 247);
    background: linear-gradient(90deg, rgba(171, 212, 247, 1) 8%, rgba(226, 247, 238, 1) 85%);
    box-shadow: none !important;
}

.pin-spacer .panel:nth-of-type(3) .box {
    background: rgb(151, 228, 193);
    background: linear-gradient(90deg, rgba(151, 228, 193, 1) 8%, rgba(226, 247, 238, 1) 85%);
    box-shadow: none !important;
}

.pin-spacer .panel:last-of-type .box {
    background: rgb(171, 212, 247);
    background: linear-gradient(90deg, rgba(171, 212, 247, 1) 8%, rgba(226, 247, 238, 1) 85%);
    box-shadow: none !important;
}

footer {
    padding: 10px 0;
    margin-top: 30px;
}

footer ul {
    text-align: right;
}

footer li {
    margin: 0 5px;
}

footer p,
footer a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.login {
    padding-bottom: 40px;
}

.login .login-form {
    background: #FFFFFFCC;
    padding: 40px 60px;
    border-radius: 40px;
    box-shadow: 0 0 5px 0px #EEE;
}

.login .login-form .form-group {
    background: white;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
}

.login .login-form .form-group input {
    border: none !important;
    box-shadow: none !important;
    padding-left: 0;
}

.login .login-form button,
.login .login-form .hessa-btn {
    /* width: 350px; */
    max-width: 350px;
    padding: 10px 80px;
    margin-top: 30px !important;
    cursor: pointer;
    text-align: center;
}

.login .login-form h3 {
    font-weight: bold;
}

.login .left-content h3 {
    margin-top: 40px;
}

.login .left-content p {
    margin-bottom: 40px;
    max-width: 350px;
}

.login .left-content ul img {
    width: 150px;
}

.verfication input {
    margin: 0 5px;
    text-align: center;
    line-height: 70px;
    font-size: 50px;
    border: solid 1px #ccc;
    box-shadow: 0 0 5px #ccc inset;
    outline: none;
    width: 80px;
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
}

.verfication input:focus {
    border-color: purple;
    box-shadow: 0 0 5px purple inset;
}

.verfication #form {
    display: flex;
    justify-content: center;
}

.verfication input::-moz-selection {
    background: transparent;
}

.verfication input::selection {
    background: transparent;
}

.register .check-ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px !important;
}

.register {
    padding-top: 120px;
}

.register .check-ul li {
    padding-left: 45px;
    max-width: 500px;
    padding-bottom: 10px;
    position: relative;
    text-align: left;
}

.register .check-ul li:before {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
    background: url(../images/check.png) no-repeat left center;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 3px;
}

.product-gallery {
    background: #FFFFFFCC;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 4px 0 #EEE;
}

.product-gallery .box .flat-option {
    background: #E2E3DD;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    width: fit-content;
}

.product-gallery .box h1 {
    font-size: 22px;
    margin-top: 0;
    max-width: 350px;
}

.list-inline-item:not(:last-child) {
    margin-right: .0rem;
}

.product-gallery table {
    max-width: 400px;
    width: 400px;
}

.product-gallery table th,
.product-gallery table td {
    border: none !important;
}

.colored-box {
    background: #EBF9F4;
    padding: 7px 10px;
    border-radius: 20px;
    margin-right: 10px;
}

.product-gallery .price {
    color: #42CE8F;
}

.product-gallery .percentage {
    color: #000000;
}

.ul-price li {
    font-size: 14px;
}

.appartment .sidebar .prize-box {
    text-align: center;
    background: linear-gradient(90deg, #42CE8F 0%, rgba(66, 206, 143, 0.4) 100%);
    color: white;
    padding: 30px;
    border-radius: 30px;
    margin-bottom: 15px;
}

.appartment .product-label {
    background: #58ACEC;
    font-size: 14px;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 50px;
    color: white;
    margin: 10px;
}

.appartment .product-label i {
    color: orange;
}

.documents .prize-box {
    /* padding: 250px 30px; */
}

.appartment .sidebar img {
    margin-bottom: 10px;
}

.appartment .sidebar h5 {
    text-align: center;
    font-weight: bold;
}

.appartment .sidebar p {
    text-align: center;
    line-height: 1.5;
    font-size: 17px;
}

.appartment .sidebar .sell-box {
    text-align: center;
    background: #007AFF1A;
    color: black;
    padding: 30px;
    border-radius: 30px;
    margin-bottom: 15px;
}

.appartment .sidebar .sell-box .btn {
    width: 100%;
}

.user-info {}

.user-info h4 {
    color: #58ACEC;
    font-size: 20px;
}

.user-info .name {
    color: black;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}

.user-info .tabs {
    background: #FFFFFFCC;
    width: fit-content;
    padding: 11px 5px;
    margin-bottom: 40px;
    border-radius: 30px;
}

.user-info .tabs ul {
    margin: 0;
    padding: 0;
}

.user-info .tabs ul li {
    border-radius: 30px;
}

.user-info .tabs ul li a {
    color: black;
    text-decoration: none;
    padding: 7px 35px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.user-info .tabs ul li.active a,
.user-info .tabs ul li a:hover {
    background: #42CE8F;
    color: white;
    border-radius: 30px;
}

.fotorama__wrap {
    width: 100% !important;
    margin-bottom: 20px;
}

.unit-details {
    margin-bottom: 20px;
}

.unit-details .flat-option {
    background: #E2E3DD;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    width: fit-content;
}

.unit-details ul {
    width: fit-content;
    display: flex;
    align-items: center;
}

.unit-details .unit-icon {
    display: block;
    margin: 0 auto;
}

.grid-details {
    padding: 40px 0;
}

.grid-details .details {
    padding: 25px;
    margin-bottom: 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 7px 0 #DDD;
}

.grid-details table tr,
.grid-details table th,
.grid-details table td {
    border: none;
}

.grid-details table td {
    padding-right: 0;
    padding-left: 0;
}

.grid-details .title {
    margin-bottom: 20px;
}

.grid-details .btn {
    width: 100%;
    border-radius: 30px;
    background: #7377851A;
}

.grid-details .location {
    padding: 25px;
    margin-bottom: 20px;
    background: #EDF6FD;
    border-radius: 20px;
    box-shadow: 0 0 7px 0 #DDD;
}

.grid-details .financials {
    padding: 25px;
    margin-bottom: 20px;
    background: #58ACEC1A;
    border-radius: 20px;
    box-shadow: 0 0 7px 0 #DDD;
}

.grid-details .financials .box {
    background: #58ACEC1A;
    border-radius: 5px;
    padding: 10px;
}

.grid-details .financials .box img {
    margin-bottom: 5px;
}

.grid-details .financials .box h2 {
    margin-top: 5px;
    font-weight: bold;
    font-size: 23px;
}

.grid-details .financials .box small {
    line-height: 1;
}

.grid-details .chart {
    padding: 25px;
    margin-bottom: 20px;
    background: #58ACEC1A;
    border-radius: 20px;
    box-shadow: 0 0 7px 0 #DDD;
}

.share-side {
    padding: 25px;
    margin-bottom: 20px;
    background: #42CE8F1A;
    border-radius: 20px;
    box-shadow: 0 0 7px 0 #DDD;
}

.share-side .share-numbers {
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.share-side small {
    text-align: center;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}

.share-side .btn-share {
    background: #42CE8F;
    color: white;
    padding: 12px 20px;
}

.btn-light {
    border-radius: 50px;
    padding: 7px 40px;
}

.table-bg {
    background: #42CE8F1F;
    padding: 10px 15px;
    border-radius: 30px;
}

.table-bg p {
    padding: 0;
    margin: 0;
}

.table-bg table {
    padding: 0;
    margin: 0;
}

.documents table {
    margin-bottom: 2px;
}

.amenities ul {
    margin-bottom: 0;
}

.amenities ul li {
    font-size: 14px;
}

.appartment.buy {
    padding: 0 50px
}

.appartment.buy .container {
    background: #FFFFFFCC;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 12px 0 #EEE;
}

.appartment.buy .container .product-gallery {
    background: none;
    box-shadow: none;
    padding: 0;
}

.product-gallery {
    position: relative;
}

.product-gallery .mark-icon {
    position: absolute;
    right: 26px;
    top: 0;
    z-index: 2;
}

.appartment.buy .product-gallery table {
    width: 100%;
    max-width: 100%;
}

.appartment.buy .title {
    color: #000;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 20px;
}

.appartment.buy .shares .content {
    background: white;
    box-shadow: 0 0 7px 0 #DDD;
    border-radius: 20px;
    padding: 25px;
}

.appartment.buy .shares .content h5 {
    color: #737785;
    font-size: 35px;
    opacity: 0.5;
    font-weight: 700;
}

.appartment.buy .shares .content p {
    margin-bottom: 0;
}

.appartment.buy .shares .content small {
    color: #737785;
}

.appartment.buy .balance {
    margin-top: 30px;
}

.appartment.buy .balance .table-box {
    background: white;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 3px 0 #DDD;
    padding: 5px;
}

.appartment.buy .balance .table-box table {
    margin: 0;
    padding: 0;
    border: none;
}

.appartment.buy .balance .table-box table tr,
.appartment.buy .balance .table-box table td {
    border: none;
}

.appartment.buy .balance .table-box table ul {
    margin-bottom: 0;
}

.cart-details .hessa-btn {
    max-width: 100% !important;
    width: 100% !important;
}

.cart-details h1 {
    font-weight: 600;
    color: black;
    margin-bottom: 30px !important;
}

.cart-details .btn-light {
    background: #FFFFFF40 !important;
    padding: 10px 50px;
    border: none;
}

.hero-section {
    position: relative;
    margin-top: 8vw;
    margin-bottom: 8vw;
    display: block;
}

.parallax-img {
    max-width: 100%;
}

.img1 {
    top: 0%;
    left: 0%;
    z-index: 1;
}

.img2 {
    top: 0%;
    left: 0%;
    z-index: 2;
}

.img3 {
    position: absolute;
    top: -15vw;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    width: 100%;
}

.img3 img {
    width: 60vw;
}

.parallax-img {
    transition: transform 0.1s ease;
}

.social-btn {
    display: flex;
    align-items: center;
    /* Vertical centering */
    justify-content: center;
    /* Horizontal centering */
    width: 40px;
    /* Set button width */
    height: 40px;
    /* Set button height */
    background-color: #cfd3dc;
    ;
    /* Green background color */
    color: #000;
    /* Icon color */
    font-size: 18px;
    /* Icon size */
    border-radius: 5px;
    /* Square shape with slightly rounded corners */
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.social-btn:hover {
    background-color: #59acec;
    /* Darker green on hover */
}

.academy {
    padding: 30px 0;
    position: relative;
}

.academy .title {
    margin-bottom: 10px;
    font-size: 22px;
    color: black;
    font-weight: 600;
}

.academy a {
    color: white !important;
    text-decoration: none !important;
}

.academy .data {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 0 10px 0 5px
}

.academy .media img {
    width: 20px;
}

.academy .media p {
    font-weight: 300;
}

#videoModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#videoModal .modal-content {
    display: flex;
    width: 100%;
    height: 100%;
    background: #373C50;
}

#videoModal .modal-sidebar {
    background-color: #222;
    color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 0;
    height: 99vh;
}

#videoModal .thumbnail-list a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

#videoModal .thumbnail-list a:hover {
    background-color: #444;
}

#videoModal .modal-main {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#videoModal .video-player {
    width: 100%;
    max-height: 80vh;
}

#videoModal .pagination {
    margin-top: 10px;
    justify-content: center;
    flex-direction: column;
}

#videoModal .pagination button {
    width: fit-content;
    margin: 5px auto;
}

#videoModal .close-btn {
    position: absolute;
    top: 40px;
    right: 50px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}